<div class="message_container d-flex">
    {% set picture = get_picture(user.id) %}
    <div class="profile-picture me-2">
        <img src="{{ url_for('utils.get_picture', table='profile-pictures', filename=picture.name) }}"
             class="rounded-circle mt-2" width="36" height="36">
    </div>
    <div class="d-flex flex-column">
        <div class="user-info">
            Mercurial
        </div>
        <div class="message text-secondary">
            {{ message }}
        </div>
    </div>
</div>