{% extends 'main.html' %}

{% block body %}

{% for message in get_flashed_messages() %}
<ul class=flashes>
    <li>{{ message }}</li>
</ul>
{% endfor %}

<div class="container">
    <div class="row justify-content-center min-vh-100 align-items-center">
        <div class="col-lg-4">
            <img src="/static/images/logo.png" alt="AITU logo" class="img-fluid">
        </div>
        <div class="col-lg-4">
            {% block form %}{% endblock %}
        </div>
    </div>
</div>

{% endblock %}