{% extends 'auth_template.html' %}

{% block title %} Login {% endblock %}


{% block form %}
<form method="POST">
    <div class="mb-3">
        <label for="barcode-input" class="form-label">Barcode</label>
        <input type="number" class="form-control" id="barcode-input" name="barcode" required>
    </div>
    <div class="mb-3">
        <label for="password-input" class="form-label">Password</label>
            <input type="password" class="form-control" minlength="8" id="password-input" name="password" required>
    </div>
    <a href="{{ url_for('auth.register') }}" class="d-block text-secondary text-decoration-none mb-3">Don't have an account yet?</a>
    <a href="{{ url_for('auth.forgot_password') }}" class="d-block text-secondary text-decoration-none mb-3">Forgot password</a>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}