{% extends 'auth_template.html' %}

{% block title %} Recover Password {% endblock %}

{% block form %}

<form method="POST">
    <div class="mb-3">
        <label for="new-password-input" class="form-label">New password</label>
        <input type="password" class="form-control" id="new-password-input" minlength="8" name="new-password" required>
    </div>

    <div class="mb-3">
        <label for="new-password-confirm-input" class="form-label">Confirm new password</label>
        <input type="password" class="form-control" id="new-password-confirm-input" minlength="8" name="new-password-confirm" required>
    </div>

    <button type="submit" class="btn btn-primary">Change password</button>
</form>

{% endblock %}