{% extends 'main.html' %}

{% block title %} Home {% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="main-body">
        <div class="row">
            <div class="col-lg-2">
                {{ sidebar(user) }}
            </div>
            <div class="col-lg-10">
                {% if posts|length == 0 %}
                    <div class="card">
                        <div class="card-body">
                            <h2>Home</h2>
                            <hr class="my-3">
                            <div class="posts mb-3">

                                <h4 class="text-secondary text-center fw-normal">You don't have any posts yet. Add friends
                                    or join groups!</h4>

                            </div>
                        </div>
                    </div>
                {% else %}
                    {% for post in posts %}
                        {{ post_block(post) }}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script src="/static/js/likes.js"></script>
{% endblock %}