{% extends 'main.html' %}

{% block title %} Messages {% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="main-body">
        <div class="row">
            <div class="col-lg-2">
                {{ sidebar(user) }}
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <div class="header sticky-top">
                            Name: mercurial
                            <hr>
                        </div>

                        <div class="dialog">
                            <div style="overflow: auto; min-height: 800px"></div>

                        </div>
                        <div class="position-relative">
                                <textarea class="position-absolute bottom-0 form-control" aria-multiline="true"
                                          oninput='if(this.scrollHeight <= 156) { this.style.height = ""; this.style.height = this.scrollHeight + "px" }'
                                          style="max-width: 90% !important; resize: none" rows="1"></textarea>
                            <button type="submit" class="btn btn-primary position-absolute bottom-0 end-0">
                                Send
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}