{% extends 'main.html' %}
{% from 'user-macros.html' import user_macro with context %}

{% block title %} Find people {% endblock %}


{% block body %}
<div class="container mt-5">
    <div class="main-body">
        <form>
            <div class="row">
                <div class="col-lg-2">
                    {{ sidebar(user) }}
                </div>

                <div class="col-lg-8">
                    <div class="card mb-5">
                        <div class="card-body">
                            <div class="header d-flex justify-content-between">
                                <h3>Search for friends</h3>
                            </div>
                            <hr class="my-3">

                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Barcode, name"
                                       aria-label="Username" name="search"
                                       value="{% if search %}{{ search }}{% endif %}">
                            </div>

                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            {% if users.items|length == 0 %}
                            <h4 class="text-center">No result</h4>
                            {% endif %}

                            {% for user_i in users.items %}
                            {% if is_friend(user.id, user_i.id) %}
                            {{ user_macro(user_i, False) }}
                            {% else %}
                            {{ user_macro(user_i, True) }}
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="card p-3">
                        <form method="get">
                            <div class="card-body p-0">
                                <div class="input-group-sm mb-3">
                                    <label for="city" class="mb-1">City</label>
                                    <select class="form-select" id="city" name="city">
                                        {{ selected_city }}
                                        <option value="0">Choose...</option>
                                        {% for city in cities %}
                                        <option value="{{ city.id }}" {% if selected_city== city.id %} selected {% endif
                                                %}>{{ city.name }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="input-group-sm mb-3">
                                    <label for="course">Course</label>
                                    <select class="form-select" id="course" name="course">
                                        <option value="0">Choose...</option>
                                        {% for course in range(1, 4) %}
                                        <option value="{{ course }}" {% if selected_course== course %} selected {% endif
                                                %}>{{ course }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="input-group-sm mb-3">
                                    <label for="edu_programs">Educational Program</label>
                                    <select class="form-select" id="edu_programs" name="edu_program">
                                        <option value="0">Choose...</option>
                                        {% for program in edu_programs %}
                                        <option value="{{ program.id }}" {% if selected_edu_program== program.id %}
                                                selected {% endif %}>{{ program.name }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <button class="btn btn-sm btn-primary" type="submit">Filter</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}