{% extends 'main.html' %}
{% from 'user-macros.html' import user_macro with context %}

{% block title %} Friends {% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="main-body">
        <div class="row">
            <div class="col-lg-2">
                {{ sidebar(user) }}
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <div class="header d-flex justify-content-between">
                            <h3>Friends</h3>
                            <a href="{{ url_for('users.find_friends') }}" class="text-secondary text-decoration-none" role="button">Find friends</a>
                        </div>
                        <hr class="my-3">

                        {% if friend_list|length == 0 %}
                        <h4 class="text-center">You don't have any friends.</h4>
                        {% endif %}

                        {% for friend in friend_list %}
                        {% set friend = get_user(friend.user_id) %}
                        {{ user_macro(friend) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}