{% extends 'main.html' %}

{% block title %} Friends {% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="main-body">
        <div class="row">
            <div class="col-lg-2">
                {{ sidebar(user) }}
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h3>Friends</h3>
                        <hr class="my-3">

                        {% if friend_list|length == 0 %}
                        <h4 class="text-center">You don't have any friends.</h4>
                        {% endif %}

                        {% for friend in friend_list %}
                        {% set friend = get_user(friend.user_id) %}
                        <div class="row">
                            <div class="col-lg-8 d-flex">
                                {% set picture = get_picture(friend.id) %}
                                {% if picture %}
                                <img src="{{ url_for('utils.get_picture', filename=picture.name) }}"
                                     class="me-3" width="110" height="110">
                                {% else %}
                                <img src="https://i.pinimg.com/originals/fc/04/73/fc047347b17f7df7ff288d78c8c281cf.png"
                                     class="me-3" width="110" height="110">
                                {% endif %}
                                <div class="friend-info">
                                    <a href="{{ url_for('users.profile', slug=friend.slug) }}" class="d-block text-decoration-none text-black fs-4 text mb-4" role="button">{{
                                        friend.first_name }} {{ friend.last_name }}</a>
                                    <a class="btn btn-sm btn-primary mt-2">Message</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}