{% extends 'main.html' %}

{% block title %} {{ profile_user['first_name'] }} {{ profile_user['last_name'] }} {% endblock %}

{% block links %}
<link rel="stylesheet" href="static/css/profile.css">
{% endblock %}

{% block body %}

<div class="container mt-5">
    <div class="main-body">
        <div class="row">
            <div class="col-lg-2">
                {{ sidebar(user) }}
            </div>
            <div class="col-lg-4">
                <div class="card mb-5">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            {% if profile_user.profile_picture %}
                            <img src="{{ url_for('utils.get_picture', filename=profile_user.profile_picture) }}"
                                 alt="Admin"
                                 class="p-1 w-75">
                            {% else %}
                            <img src="https://i.pinimg.com/originals/fc/04/73/fc047347b17f7df7ff288d78c8c281cf.png"
                                 alt="Admin" class="p-1 w-75">
                            {% endif %}
                            <div class="mt-3">
                                <h4>{{ profile_user['first_name'] }} {{ profile_user['last_name'] }}</h4>
                                <h6>{{ profile_user.last_online }}</h6>


                                {% if user.id == profile_user.id %}
                                <!-- If user visited his own profile -->
                                <a class="btn btn-primary mt-2" href="{{ url_for('users.settings') }}">Edit Profile</a>
                                {% elif friend_status == 1 %}
                                <a class="btn btn-secondary mt-2"
                                   href="{{ url_for('users.remove_friend', user_id=user.id, friend_id=profile_user.id) }}">Cancel
                                    request</a>
                                <a href="{{ url_for('chat.conversation', chat_user_id=profile_user.id) }}" class="btn btn-primary mt-2">Message</a>
                                {% elif friend_status == 2 %}
                                <a class="btn btn-secondary mt-2"
                                   href="{{url_for('users.add_friend', user_id=user.id, friend_id=profile_user.id)}}">Accept
                                    request</a>
                                <a href="{{ url_for('chat.conversation', chat_user_id=profile_user.id) }}" class="btn btn-primary mt-2">Message</a>
                                {% elif friend_status == 3 %}
                                <a class="btn btn-secondary mt-2"
                                   href="{{ url_for('users.remove_friend', user_id=user.id, friend_id=profile_user.id) }}">Remove
                                    from friends</a>
                                <a href="{{ url_for('chat.conversation', chat_user_id=profile_user.id) }}" class="btn btn-primary mt-2">Message</a>
                                {% else %}
                                <a class="btn btn-secondary mt-2"
                                   href="{{url_for('users.add_friend', user_id=user.id, friend_id=profile_user.id)}}">Add
                                    to Friend</a>
                                <a href="{{ url_for('chat.conversation', chat_user_id=profile_user.id) }}" class="btn btn-primary mt-2">Message</a>
                                {% endif %}
                            </div>
                        </div>
                        <hr class="my-3">
                        <p class="text-center text-secondary mb-2 p-2">
                            {{ profile_user.about_me }}
                        </p>
                    </div>
                </div>
                <div class="card mb-5">
                    <div class="card-body">
                        <h5 class="d-flex align-items-center">Friends</h5>
                        <hr class="my-3">
                        <div class="friends d-flex justify-content-center row row-cols-3">

                            {% if friend_list|length == 0 %}
                                {{ profile_user.first_name }} does not have any friends.
                            {% endif %}

                            {% for friend in friend_list %}
                            {% set friend = get_user(friend.user_id) %}
                            {% set picture = get_picture(friend.id) %}
                            <a href="{{ url_for('users.profile', slug=friend.slug) }}" class="friend mb-3 text-dark text-decoration-none">
                                <div class="friend-picture d-flex justify-content-center">
                                    {% if picture %}
                                    <img src="{{ url_for('utils.get_picture', filename=get_picture(friend.id).name) }}" alt="Admin"
                                         class="rounded-circle" width="80" height="80">
                                    {% else %}
                                    <img src="https://i.pinimg.com/originals/fc/04/73/fc047347b17f7df7ff288d78c8c281cf.png" alt="Admin"
                                         class="rounded-circle" width="80">
                                    {% endif %}
                                </div>
                                <h6 class="first-name text-center m-0">{{ friend.first_name }}</h6>
                                <h6 class="last-name text-center">{{ friend.last_name }}</h6>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Barcode</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <h6 class="mb-0">{{ profile_user['barcode'] }}</h6>
                            </div>
                        </div>
                    </div>
                </div>

                {% if user.id == profile_user.id %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="mb-3">Create new post</h4>
                        <form method="POST" action="{{ url_for('users.add_post') }}">
                            <textarea class="form-control mb-3" rows="3" required name="post-content"
                                      minlength="1"></textarea>
                            <div class="d-grid col-6 mx-auto">
                                <button type="submit" class="btn btn-primary mb-3 px-5">Post</button>
                            </div>
                        </form>
                    </div>
                </div>
                {% endif %}

                {% if posts|length == 0 %}
                <div class="card mb-5">
                    <div class="card-body">
                        <h4 class="d-flex align-items-center mb-3">Posts</h4>
                        <hr class="my-3">
                        <h6 class="text-secondary text-center fw-normal">There is nothing yet.</h6>
                    </div>
                </div>
                {% else %}
                {% for post in posts %}
                {{ post_block(post) }}
                {% endfor %}
                {% endif %}

            </div>
        </div>
    </div>
</div>

<script src="/static/js/likes.js"></script>

{% endblock %}