{% extends 'main.html' %}

{% block title %} Settings {% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="main-body">
        <div class="row">
            <div class="col-lg-2">
                {{ sidebar(user) }}
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h1 class="text-center">Settings</h1>
                        <hr class="my-3">
                        <form method="POST" enctype="multipart/form-data">
                            <div class=" mb-3">
                                <label for="profile-picture-input" class="form-label">Profile picture</label>
                                <input type="file" class="form-control" id="profile-picture-input"
                                       name="profile-picture">
                            </div>
                            <div class="mb-3">
                                <label for="slug-input" class="form-label">Slug</label>
                                <input type="text" class="form-control" id="slug-input" name="slug"
                                       value="{{ user.slug }}" required>
                            </div>
                            <div class="mb-3">
                                <label for="first-name-input" class="form-label">First Name</label>
                                <input type="text" class="form-control" id="first-name-input" name="first-name"
                                       value="{{ user.first_name }}" required>
                            </div>
                            <div class="mb-3">
                                <label for="last-name-input" class="form-label">Last Name</label>
                                <input type="text" class="form-control" id="last-name-input" name="last-name"
                                       value="{{ user.last_name }}" required>
                            </div>
                            <div class="mb-3">
                                <label for="about-me-input" class="form-label">About me</label>
                                <input type="text" class="form-control" id="about-me-input" name="about-me"
                                       value="{{ user.about_me }}" required>
                            </div>
                            <div class="mb-3">
                                <label for="password-input" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password-input" minlength="8" name="password">
                            </div>
                            <div class="mb-3">
                                <label for="password-confirm-input" class="form-label">Confirm password</label>
                                <input type="password" class="form-control" id="password-confirm-input" minlength="8" name="password-confirm">
                            </div>

                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary m-auto">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}