{% extends 'main.html' %}

{% block title %} Settings {% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="main-body">
        <div class="row">
            <div class="col-lg-2">
                {{ sidebar(user) }}
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h1 class="text-center">Settings</h1>
                        <hr class="my-3">
                        <form method="POST" enctype="multipart/form-data">
                            <div class=" mb-3">
                                <label for="profile-picture-input" class="form-label">Profile picture</label>
                                <input type="file" class="form-control" id="profile-picture-input"
                                       name="profile-picture">
                            </div>
                            <div class="mb-3">
                                <label for="slug-input" class="form-label">Slug</label>
                                <input type="text" class="form-control" id="slug-input" name="slug"
                                       value="{{ user.slug }}" required>
                            </div>
                            <div class="mb-3">
                                <label for="first-name-input" class="form-label">First Name</label>
                                <input type="text" class="form-control" id="first-name-input" name="first-name"
                                       value="{{ user.first_name }}" required>
                            </div>
                            <div class="mb-3">
                                <label for="last-name-input" class="form-label">Last Name</label>
                                <input type="text" class="form-control" id="last-name-input" name="last-name"
                                       value="{{ user.last_name }}" required>
                            </div>
                            <div class="mb-3">
                                <label for="about-me-input" class="form-label">About me</label>
                                <input type="text" class="form-control" id="about-me-input" name="about-me"
                                       value="{{ user.about_me }}" required>
                            </div>
							<div class="mb-3">
								<label for="birthday-input" class="form-label">Birthday</label>
								{% if user.birthday != today %}
									<input type="date" id="birthday" name="birthday" value="{{ user.birthday }}" min="1980-01-01" max="{{ today }}" required>
								{% else %}
									<input type="date" id="birthday" name="birthday" value="{{ today }}" min="1980-01-01" max="{{ today }}" required>
								{% endif %}
							</div>
							<div class="mb-3">
                                <label for="city-input" class="form-label">City</label>
                                <input type="text" class="form-control" id="city-input" name="city"
                                       value="{{ user.city }}" required>
                            </div>
							
							<div class="input-group mb-3">
							  <div class="input-group-prepend">
								<span class="input-group-text" id="program-input">Educational Program</span>
                                <input class="form-control" id="program-input" name="program" list="programs"
                                       value="{{ user.program }}" required>
								<datalist id="programs">
									<option value="IT">Computer Science</option>
									<option value="SE">Software Engineering</option>
									<option value="CS">Cyber Security</option>
									<option value="BDA">Big Data Analysis</option>
									<option value="MT">Media Technologies</option>
									<option value="ST">Smart Technologies</option>
									<option value="ITE">IT Entrepreneurship</option>
									<option value="ITM">IT Management</option>
									<option value="DJ">Digital Journalism</option>
									<option value="IA">Industrial Automation</option>
								</datalist>
							  </div>
								<div class="col-xs-2">
									<span class="input-group-text" id="group-input">Group</span> 
									<input type="text" class="form-control" id="group-input" name="group" value="{{ user.group }}">
								</div>
								<span class="help-block">Choose a program and input your group number. For example: Computer Science
								</span>
							</div>	
							
							<div class="mb-3">
								<span>Year</span>
								<div class="form-check">
								  <input class="form-check-input" type="radio" name="year" id="year1" value="1" checked>
								  <label class="form-check-label" for="year1">
									1
								  </label>
								</div>
								<div class="form-check">
								  <input class="form-check-input" type="radio" name="year" id="year2" value="2">
								  <label class="form-check-label" for="year2">
									2
								  </label>
								</div>
								<div class="form-check">
								  <input class="form-check-input" type="radio" name="year" id="year3" value="3">
								  <label class="form-check-label" for="year3">
									3
								  </label>
								</div>
							</div>
                            <div class="mb-3">
                                <label for="education-input" class="form-label">Education</label>
                                <input type="text" class="form-control" id="education-input" name="education"
                                       value="{{ user.education }}">
                            </div>
							<div>
								<label for="hobbies-input" class="form-label">Hobbies</label>
								<input type="text" class="form-control" id="hobbies-input" name="hobbies"
									   value="{{ user.hobbies }}">
							</div>
                            <div class="mb-3">
                                <label for="password-input" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password-input" minlength="8" name="password">
                            </div>
                            <div class="mb-3">
                                <label for="password-confirm-input" class="form-label">Confirm password</label>
                                <input type="password" class="form-control" id="password-confirm-input" minlength="8" name="password-confirm">
                            </div>

                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary m-auto">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}