{% macro user_macro(friend) %}
<div class="row mb-3">
    <div class="col-lg-8 d-flex">
        {% set picture = get_picture(friend.id) %}
        {% if picture %}
        <img src="{{ url_for('utils.get_picture', filename=picture.name) }}"
             class="me-3" width="110" height="110">
        {% else %}
        <img src="https://i.pinimg.com/originals/fc/04/73/fc047347b17f7df7ff288d78c8c281cf.png"
             class="me-3" width="110" height="110">
        {% endif %}
        <div class="friend-info">
            <a href="{{ url_for('users.profile', slug=friend.slug) }}"
               class="d-block text-decoration-none text-black fs-4 text mb-4" role="button">{{
                friend.first_name }} {{ friend.last_name }}</a>
            <a href="{{ url_for('chat.conversation', chat_user_id=friend.id) }}"
               class="btn btn-sm btn-primary mt-2">Message</a>
        </div>
    </div>
</div>
{% endmacro %}